{% extends 'base.html' %}

{% block content %}
   <div  class="container text-center display-4 my-5 heading">
       Meet Our Team
   </div>
 
    <div class="d-flex justify-content-around flex-wrap">
        <div class=" card mx-2 my-5 ">
            <div class="lines">   </div>
            <div class="imgBx">
                <img src="https://i.ibb.co/CWH5Mnm/radhika.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Radhika Desai<br><span>Backend Developer</span>
                    </h2>
                    <div class="data">
                        <h3>Github<br><span><a href="https://github.com/" target="_blank"><img src="https://www.linkpicture.com/q/5320208351530077752.svg" alt=""></a></span></h3>
                        <h3>Twitter<br><span><a href="https://twitter.com/" target="_blank"><img src="https://www.linkpicture.com/q/13728386351561032650.svg" alt=""></a></span></h3>
                        <h3>Linkedin<br><span><a href="https://linkedin.com/" target="_blank"><img src="https://www.linkpicture.com/q/14459920111530103316.svg" alt=""></a></span></h3>
                    </div>
                    <div style="padding: 19px;">
                    </div>
                </div>
            </div>
        </div>
    
        <div class=" card mx-2 my-5 ">
            <div class="lines">   </div>
            <div class="imgBx">
                <img src="https://i.ibb.co/QdLPpb4/sac.png">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Sachin Kalawadia<br><span>Backend Developer</span>
                    </h2>
                    <div class="data">
                        <h3>Github<br><span><a href="https://github.com/" target="_blank"><img src="https://www.linkpicture.com/q/5320208351530077752.svg" alt=""></a></span></h3>
                        <h3>Twitter<br><span><a href="https://twitter.com/" target="_blank"><img src="https://www.linkpicture.com/q/13728386351561032650.svg" alt=""></a></span></h3>
                        <h3>Linkedin<br><span><a href="https://linkedin.com/" target="_blank"><img src="https://www.linkpicture.com/q/14459920111530103316.svg" alt=""></a></span></h3>
                    </div>
                    <div style="padding: 19px;">
                    </div>
                </div>
            </div>
        </div>
    
        <div class=" card mx-2 my-5">
            <div class="lines">   </div>
            <div class="imgBx">
                <img src="https://www.linkpicture.com/q/img_29.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Kevin Usadadiya<br><span>Front-end Developer</span>
                    </h2>
                    <div class="data">
                        <h3>Github<br><span><a href="https://github.com/" target="_blank"><img src="https://www.linkpicture.com/q/5320208351530077752.svg" alt=""></a></span></h3>
                        <h3>Twitter<br><span><a href="https://twitter.com/" target="_blank"><img src="https://www.linkpicture.com/q/13728386351561032650.svg" alt=""></a></span></h3>
                        <h3>Linkedin<br><span><a href="https://linkedin.com/" target="_blank"><img src="https://www.linkpicture.com/q/14459920111530103316.svg" alt=""></a></span></h3>
                    </div>
                    <div style="padding: 19px;">
                    </div>
                </div>
            </div>
        </div>
    
        <div class=" card mx-2 my-5">
            <div class="lines">   </div>
            <div class="imgBx">
                <img src="https://i.ibb.co/0ZGK7kH/sattu.jpg">
            </div>
            <div class="content">
                <div class="details">
                    <h2>Satyarajsinh Jadeja<br><span>UI/UX Designer</span>
                    </h2>
                    <div class="data">
                        <h3>Github<br><span><a href="https://github.com/" target="_blank"><img src="https://www.linkpicture.com/q/5320208351530077752.svg" alt=""></a></span></h3>
                        <h3>Twitter<br><span><a href="https://twitter.com/" target="_blank"><img src="https://www.linkpicture.com/q/13728386351561032650.svg" alt=""></a></span></h3>
                        <h3>Linkedin<br><span><a href="https://linkedin.com/" target="_blank"><img src="https://www.linkpicture.com/q/14459920111530103316.svg" alt=""></a></span></h3>
                    </div>
                    <!-- <div class="actionBtn">
                        <button>Follow</button>
                        <button>Message</button>
                    </div> -->
                    <div style="padding: 19px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
 
{% endblock  %}