<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href='https://i.ibb.co/9sQ3s5S/scissors.png' type='image/x-icon' sizes="16x16" />

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
     crossorigin="anonymous">

    <!-- Google Fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Roboto:wght@500&display=swap" rel="stylesheet">

   
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    {% block stylesheet %}
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='css/about.css') }}"/>
    {% endblock stylesheet %}
    
    
  
   

    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-md fixed-top" >
        <div class="container-fluid">
          <a class="navbar-brand ml-2" href="{{ url_for('index')}}">
            <img src="https://www.linkpicture.com/q/Trim-it_1.jpg"  height="35" class=" mx-3">
        </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">TrimIt</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-center flex-grow-1 pe-3 px-5">
                
                <li class="nav-item active">
                    <a class="nav-link mt-3 mx-5" href="{{ url_for('about')}}" style="color:hsl(250, 69% , 61%)!important;">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mt-3 mx-5" href="{{ url_for('stats')}}" style="color:hsl(250, 69% , 61%)!important;">Stats</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mt-3 mx-5" href="#proc" style="color:hsl(250, 69% , 61%)!important;">Process</a>
                </li>
                
              </ul>
              <form class="d-flex mt-3" role="search">
                <button class="btn fw-bold me-4 px-4" type="submit" style="border-color: hsl(250, 69% , 61%); color:hsl(250, 69% , 61%);">Login</button>
                <button class="btn text-white px-4" style="background-color: hsl(250, 69% , 61%);" type="submit">Sign Up</button>
              </form>
              
            </div>
          </div>
        </div>
      </nav>
      <div class="container-fluid" style="margin-top: 7em;">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endfor %}
    {% block content %} {% endblock %}

    
        
    </div>
   

    

    
   
    

    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
       
</body>

</html>