{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <button class="p-3 mb-5" style="color:hsl(250, 69% , 61%); border-radius: 7px; border: white;"><a  class="text-decoration-none" href="#proc" style="color:hsl(250, 69% , 61%)!important; border-radius: 7px; border: white;" >Lets make with simply one click.👈</a></button>
</div>

<h1 class="text-center mb-4">{% block title %} 
    ALL IN ONE LINK MANAGEMENT FOR YOUR NEEDS. {% endblock %}</h1>

<div class=" container image hidden">
    <div class="sec">
        <div class="content1 d-flex flex-wrap">
            <h3>SHORT & MANAGE YOUR LINK👉</h3>
            <p>You can short and manage your link just one click. You need to connect audiences worldwide, manage links
                and create brand relationships.</p>
        </div>
        <div class="sub_content">
            <div class="header">
                <p>🟢 🟡 🔴</p>
                <h6 class="fw-bold mx-5 px-5" style="color:hsl(250, 69% , 61%);">trimit.com</h6>
            </div>
            <div class="main1">
                <img src="https://www.linkpicture.com/q/Trim-it_1.jpg" height="35" class=" mx-3">
            </div>
    

            <div class="main3">
                <form method="post">
                    <div class="form-group">
                    
                        <div id="carouselExampleIndicators" class="carousel slide">
                            <div class="main2 d-flex justify-content-around flex-wrap">
                                <button class="btn fw-bold my-2 px-3" 
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                    aria-current="true" aria-label="Slide 1">Shortlink</button>


                                <button class="btn fw-bold my-2" 
                                    data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 1">Custom Link</button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <br>
                                    <label for="url">Short your link</label>
                                    <br>
                                    <br>
                                    
                                    <div class="input-group mb-4">

                                        <input type="text" class="form-control p-3" name="url"
                                            placeholder="URL to shorten" id="basic-url" aria-describedby="basic-addon3"
                                            value="{{ request.form['url'] }}" autofocus>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    
                                       <br>
                                        <label for="custom_id" >Custom Short ID</label>
                                        <br>
                                        <br>
                                        
                                        <div class="input-group mb-4">
                                        <input type="text" name="custom_id" id="custom_id"
                                        placeholder="Want to customise? (optional)" class="form-control p-3 "></input>
                                      </div>
                                        
                                    </div>
                               

                            </div>


                        </div>


                        <div class="form-group">
                            <button type="submit" class="btn text-white"
                                style="background-color: hsl(250, 69% , 61%);">Short Link ⬇️</button>
                        </div>



                        {% if short_url %}
                        <div class="d-flex">
                            <div id="myInput" class="mt-4 active">{{short_url}}</div>
                            <button class="btn mx-5 mt-3 text-white" style="background-color: hsl(250, 69% , 61%);"
                                onclick="copyContent()">Copy!</button>
                        </div>
                        <script>
                            let text = document.getElementById('myInput').innerHTML;
                            const copyContent = async () => {
                                try {
                                    await navigator.clipboard.writeText(text);
                                    console.log('Content copied to clipboard');
                                } catch (err) {
                                    console.error('Failed to copy: ', err);
                                }
                            }
                        </script>

                        {% endif %}
                    </div>
            </div>


        </div>
    </div>

</div>
<br>
<br>
<br>

<!-- Process Section -->

<div class="container-fluid hidden process py-2 mt-4 mb-4" id="proc">
    <h3 class=" display-5 text-center pt-5">
            OUR SIMPLE PROCESS
    </h3>
    <p class="text-center pt-3">
        Trimit will give you guide to use this platform and what happening after that.

    </p>

    
        <div class="process_details ">

        
        <div class="process_info hidden">
            <button class="btn rounded-circle">1</button>
            <h4 class="mt-4">PUT YOUR LINK</h4>
            <p class="mt-4">Be able to track, capture & retarget everyone who clicks on your links through Facebook, Instagram, Twitter, Linkedin, and Google Ads.</p>
        </div>
        <div class="process_info hidden">
            <button class="btn rounded-circle">2</button>
            <h4 class="mt-4">CLICK SHORTNER</h4>
            <p class="mt-4">Customize your link.Edit the title, the description and the picture, make your links sine again and boost your CTR!</p>
        </div>
        <div class="process_info hidden">
            <button class="btn rounded-circle">3</button>
            <h4 class="mt-4">CREATE CUSTOME URL</h4>
            <p class="mt-4">Share and campaigns your favourite platforms like Facebook, Twitter, LinkdeIn, Instagram, Google Ads and boost your conversion rate.</p>
        </div>
        <div class="process_info hidden">
            <button class="btn rounded-circle">4</button>
            <h4 class="mt-4">STATISTICS</h4>
            <p class="mt-4">You can refer to your previous links. Check the short url.</p>
        </div>
        <div class="process_info hidden">
            <button class="btn rounded-circle">5</button>
            <h4 class="mt-4">TRACK CLICKS</h4>
            <p class="mt-4">Track number of clicks on your Shortened Url.</p>
        </div>
        <div class="process_info hidden">
            <button class="btn rounded-circle">6</button>
            <h4 class="mt-4">SHARE IT!</h4>
            <p class="mt-4">Share and campaigns your favourite platforms like Facebook, Twitter, LinkdeIn, Instagram, Google Ads and boost your conversion rate.</p>

        </div>
    
    </div>
</div>
<br>
<br>
<footer id="footer">
    <div class="container-fluid mt-4 p-5 hidden">
        <div class="row">
            <div class="col-lg-3 m-lg-2 ">
                <b style="color: hsl(250, 69% , 61%);">TRIMIT</b>
                <div class="col mt-3"><p>Platform that helps you to connect audiences worldwide,
                    manage links and QR Codes, and create brand relationships.</p>
                </div>
                <div class="links">
                    <div class="col mt-3">
                        <a href="https://www.linkedin.com"><img class="px-3" src="https://i.ibb.co/FmD0nzj/linkdin-logo-icon.png"></a>
                        <a href="https://www.instagram.com"><img class="px-3" src="https://i.ibb.co/mTxrChN/instagram-logo-icon.png" ></a>
                        <a href="https://www.twitter.com"><img class="px-3" src="https://i.ibb.co/wcthnRW/twitter-logo-icon.png"></a>
                    </div>
                </div>
            </div>
            <div class="col-md"></div>
            <div class="col-sm m-md-2 mt-3" style="text-align: center;">
                <b style="color: hsl(250, 69% , 61%);">MENU</b>
                <div class="col mt-3">Home</div>
                <div class="col mt-3">Product</div>
                <div class="col mt-3">Pricing</div>
            </div>
            <div class="col-sm m-md-2 mt-3" style="text-align: center;">
                <b style="color: hsl(250, 69% , 61%);">COMPANY</b>
                <div class="col mt-3">About Us</div>
                <div class="col mt-3">Help Center</div>
                <div class="col mt-3">The Community</div>
            </div>
            <div class="col-sm m-md-2 mt-3" style="text-align: center;">
                <b style="color: hsl(250, 69% , 61%);">SERVICES</b>
                <div class="col mt-3">Link Shortener</div>
                <div class="col mt-3">Microsite Builder</div>
                <div class="col mt-3">Subscription</div>
            </div>

        </div>
        <hr>
    <div>
    <p class="copyright text-center ">© 2023 Copyright: Trimit.com</p>
    </div>
    </div>
</footer>

<script>
    const observer = new IntersectionObserver((entries) => {
        entries.forEach((entry) => {
            console.log(entry)
            if (entry.isIntersecting) {
                entry.target.classList.add('show')
            } else {
                entry.target.classList.remove('show')
            }
        })
    })

    const hiddenElements = document.querySelectorAll('.hidden');
    hiddenElements.forEach((el) => observer.observe(el));
</script>


{% endblock content%}