.image{
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("https://images.unsplash.com/photo-1603715749723-240c88df18b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: repeat-x;
    /* background-position: right, left;  */
    margin-top: 30px;
    width: 100%;
    height: auto;
    overflow: hidden;
 }
html{
   scroll-behavior: smooth;
}

.hidden{
   opacity: 0;
   filter: blur(5px);
   transform: translateX(-100%);
   transition: all 2s;
 }

 .show{
   opacity: 1;
   filter: blur(0);
   transform: translateX(0);
 }

.header{
   display: flex;

}

 .sec{
    display: flex;
 }

 .content1{
    color: whitesmoke;
    width: 340px;
    margin-top: 100px;
    margin-left: 170px;
    padding-top: 6%;
 }
 .content1 > h3{
   /* margin-bottom: 15px; */
   height: -12px;
   width: 250px;

 }

 .sub_content{
    padding: 20px;
    background-color: #efeff9;
    margin: 100px;
    width:600px;
    border-radius: 10px;
 }
 
 

 .main1{
    margin-left: 37px;
    margin-top: 30px;
 }

 .main2{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
 }

 .main2 > button{
      color: hsl(250, 69% , 61%);
 }
 .main2 > button:hover {
      color: white;
      background-color: hsl(250, 69% , 61%);

 }
 .main3{
    margin-top: 29px;
    margin-left: 60px;
    margin-right: 60px;

 }
 .process{
   background-color: #1D1D21;
   color: white;

 }

 .process_details{
   background-color: #383838;
   border-radius: 10px;
   margin:0px 150px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;

 }

 .process_info{
   padding: 1.3em;
   border-radius: 10px;
   margin:1.1% 5%;
   width: 310px;
 }

 .process_info > h4{
   color: white;
   font-weight: bold;
 }
 .process_info:hover{
    padding: 1.3em;
    background-color:hsl(250, 69% , 61%); 
    color: white;
    transition: all;
     
   }
   
   .process_info > button{
     color: white;
     background-color: hsl(250, 69% , 61%);
     padding: 15px 24px;
     font-weight: bold;
     font-size: 1.3em;
   }

   .process_info:hover > button{
     color: hsl(250, 69% , 61%);
     background-color: white;
     padding: 15px 24px;
     font-weight: bold;
   }

   footer{
      background-color: whitesmoke;
      font-family: Georgia, 'Times New Roman', Times, serif;
  }
  

 @media screen  and (max-width:1175px){
    .sec{
        display: flex;
        flex-wrap: wrap;
    }
    .image{
        /* height: 100%; */
        background-repeat: repeat-y;
    }
    
 }

 @media screen and (max-width: 602px) {
    .content1{
        width: 400px;
        margin-top: 30px;
        margin: auto;
        padding: 70px;
    }
    .sub_content{
      margin: 20px;
      overflow: hidden;
    }
    
 }

 @media screen and (max-width: 547px){
   .process_details{
      background-color: #383838;
      border-radius: 10px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      width: 200px;
   
    }
   

 }
